/* efeito hover na navegação */
@media screen and (min-width:990px) {
    .navbar-brand{
        position: absolute;
        left:50%;
        top:0;
        margin-left:-60px;
    }
    .nav-link{
        transition:all 0.5s;
    }
    .nav-link:hover, .nav-link.active{
        background-color: #FF1927;
        color: #fff!important;
        transition:all 0.5s;
    }
    .configNavbar{
        height: 100px;
    }
    li.nav-item a{
        padding:38px 0;
    }
    
}

/* limitar altura do card*/
.card-img{
    max-height: 250px;
    overflow: hidden;
}

/*
footer que o bootstrap não tem 
*/
.page-footer{
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: #FF1927;
}
.page-footer .footer-copyright{
    padding:20px 0;
}
.footer-copyright *{
    color:#fff;
    text-decoration: none;
}
.footer-copyright a:hover{
    color:#000;
}
.right{
    float: right;
}
